html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    transform-style: preserve-3d;
    perspective: 1200px;
}

body {
    transform: translateZ(-1000px);
    background: #000;
}

.cylSeg {
    position: absolute;
    background: #bbb;
    width: 5px;
    height: 5px;
    opacity: 0;
    animation: .25s faze linear forwards;
    -webkit-animation: .25s faze linear forwards;
}

#cont {
    transform-style: preserve-3d;
    position: relative;
    transform-origin: 50% 50%;
    width: 0;
    height: 0;
    left: 40%;
    top: 40%;
}
.conSeg {
    position: absolute;
    opacity: 0;
    animation: .25s faze linear forwards;
    -webkit-animation: .25s faze linear forwards;
    transform-origin:50% 100%;
}
.cone-cont{
  position:absolute;
  transform-style:preserve-3d;
}
#descent-stage {
    position: absolute;
    transform-style: preserve-3d;
}

#ascent-stage {
    position: absolute;
    transform-style: preserve-3d;
}

.ds-diag-panel {
    transform-style: preserve-3d;
    position: absolute;
    background: #daa520;
    border: 1px solid #b81;
    width: 116.284264px;
    height: 138px;
    transform-origin: 50% 50%;
}

.ds-str-panel {
    transform-style: preserve-3d;
    position: absolute;
    background: #daa520;
    border: 1px solid #b81;
    width: 129.549217px;
    height: 138px;
    transform-origin: 50% 50%;
}

#ds-d-1 {
    transform: rotateY(45deg) translateZ(151px) translateX(-3px);
}

#ds-d-2 {
    transform: rotateY(135deg) translateZ(147px) translateX(-1px);
}

#ds-d-3 {
    transform: rotateY(225deg) translateZ(150px) translateX(2px);
}

#ds-d-4 {
    transform: rotateY(315deg) translateZ(153px);
}

#ds-s-1 {
    transform: rotateY(0deg) translateZ(150px) translateX(-8px);
}

#ds-s-2 {
    transform: rotateY(90deg) translateZ(140px) translateX(-3px);
}

#ds-s-3 {
    transform: rotateY(180deg) translateZ(145px) translateX(8px);
}

#ds-s-4 {
    transform: rotateY(270deg) translateZ(156px) translateX(2px);
}

.ds-oct-out {
    overflow: hidden;
    position: absolute;
    width: 300px;
    height: 297px;
}

.ds-oct-in {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #daa520;
    transform: rotateZ(45deg);
    border: 1px solid #b81;
}

#ds-top {
    transform: rotateX(90deg) translateX(-93px) translateZ(10px);
}

#ds-bot {
    transform: rotateX(90deg) translateX(-91px) translateZ(148px);
}

.cyl-cont {
    transform-style: preserve-3d;
    position: absolute;
}

.flame {
    position: absolute;
    width: 17px;
    height: 100px;
    transform: translateY(130px) translateX(49px);
    border-radius: 50%;
    box-shadow: 0 0 20px 15px #fed;
    background: #fed;
}

#flame2 {
    transform: translateY(130px) translateX(49px) rotateY(90deg);
}

.pad {
    position: absolute;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    background: #aaa;
}

#pad1 {
    transform: rotateX(90deg) translateZ(-200px) translateY(220px) translateX(-200px);
}

#pad2 {
    transform: rotateX(90deg) translateZ(-200px) translateY(-220px) translateX(-200px);
}

#pad3 {
    transform: rotateX(90deg) translateZ(-200px) translateY(220px) translateX(240px);
}

#pad4 {
    transform: rotateX(90deg) translateZ(-200px) translateY(-220px) translateX(240px);
}

#main-cabin {
    position: absolute;
    transform-style: preserve-3d;
}

.mc-wall {
    position: absolute;
    background: #ccc;
    border: 1px solid #aaa;
}

#mc-front {
    transform-style: preserve-3d;
    width: 158px;
    height: 173px;
    transform: rotateY(45deg) translateY(-173px) translateX(-19px) translateZ(46px);
}

#mc-front::before {
    position: absolute;
    content: ' ';
    transform: translateY(-18px);
    width: 102px;
    height: 0px;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 18px solid #ccc;
}

#mc-back {
    transform-style: preserve-3d;
    width: 158px;
    height: 173px;
    transform: rotateY(45deg) translateY(-173px) translateX(-19px) translateZ(-76px);
}

#mc-back::before {
    position: absolute;
    content: ' ';
    transform: translateY(-18px);
    width: 102px;
    height: 0px;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-bottom: 18px solid #ccc;
}

#mc-top {
    transform-style: preserve-3d;
    height: 122px;
    width: 102px;
    transform: rotateX(90deg) rotateZ(-45deg) translateZ(240px) translateY(4px) translateZ(12px);
}

#mc-left {
    transform-style: preserve-3d;
    height: 173px;
    width: 122px;
    transform: rotateY(-45deg) translateX(-2px) translateY(-173px) translateZ(87px);
}

#mc-right {
    transform-style: preserve-3d;
    height: 173px;
    width: 122px;
    transform: rotateY(-45deg) translateX(-2px) translateY(-173px) translateZ(-74px);
}

#mc-tl {
    width: 122px;
    height: 35.4px;
    transform: rotateY(-45deg) translateX(-3px) translateZ(-59px) translateY(-200px) rotateX(-61deg);
}

#mc-tr {
    width: 122px;
    height: 35.4px;
    transform: rotateY(-45deg) translateX(-3px) translateZ(72px) translateY(-200px) rotateX(61deg);
}

.mc-cyl-wall {
    position: absolute;
    background: #ccc;
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 161px;
    height: 161px;
}

#mc-c-r {
    transform: rotateY(45deg) translateY(-163px) translateZ(100px) translateX(-21px);
}

#mc-c-f {
    transform-style: preserve-3d;
    transform: rotateY(45deg) translateY(-163px) translateZ(-139px) translateX(-21px);
}

@keyframes faze {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes faze {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pod {
    transform-style: preserve-3d;
    position: absolute;
}

#pod-left {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(-90deg) translateX(45px) translateZ(-104px) translateY(98px) scale3d(1.4, 1.4, 1.4);
}

#pod-right {
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateY(90deg) translateZ(18px) translateY(98px) scale3d(1.4, 1.4, 1.4);
}

.pod-sec-f {
    position: absolute;
    transform: scale3d(1, 1, 1);
    transform-style: preserve-3d;
}

.pod-sec-b {
    position: absolute;
    transform: scale3d(1, 1, -1) translateZ(-60px);
    transform-style: preserve-3d;
}

.pod-sec-d-t {
    position: absolute;
    height: 0px;
    width: 47px;
    border-right: 8px solid transparent;
    border-bottom: 34px solid #b1b1b1;
    transform: translateY(-27px) translateX(-34px) rotateX(125.4deg);
}

.pod-sec-d-b {
    position: absolute;
    height: 0px;
    width: 47px;
    border-right: 8px solid transparent;
    border-bottom: 34px solid #b1b1b1;
    transform: translateY(27px) translateX(-34px) rotateX(55.6deg);
}

.pod-sec-d-r {
    position: absolute;
    height: 0px;
    width: 16.5px;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 34px solid #b1b1b1;
    transform: translateY(0px) translateX(18px) rotateZ(-90deg) rotateX(51.85deg);
}

.pod-sec-d-br {
    position: absolute;
    height: 0px;
    width: 9.5px;
    border-right: 11.4px solid transparent;
    border-left: 11.4px solid transparent;
    border-bottom: 34px solid #bbb;
    transform: translateX(7px) translateY(18px) translateZ(0px) rotateZ(-54deg) rotateX(55.6deg);
}

.pod-sec-d-tr {
    position: absolute;
    height: 0px;
    width: 9.5px;
    border-right: 11.4px solid transparent;
    border-left: 11.4px solid transparent;
    border-bottom: 34px solid #bbb;
    transform: translateX(7px) translateY(-18px) translateZ(0px) rotateZ(-126deg) rotateX(55.6deg);
}

.pod-sec-s-t {
    position: absolute;
    background: #bababa;
    width: 53px;
    height: 32px;
    transform: rotateX(90deg) translateZ(35.6px) translateY(30px) translateX(-32px);
}

.pod-sec-s-b {
    position: absolute;
    background: #bababa;
    width: 53px;
    height: 32px;
    transform: rotateX(90deg) translateZ(-36.4px) translateY(30px) translateX(-32px);
}

.pod-sec-s-s {
    position: absolute;
    background: #bababa;
    width: 34px;
    height: 24px;
    transform: rotateY(90deg) translateX(-30px) translateY(5px) translateZ(22px);
}

.pod-sec-s-ts {
    position: absolute;
    background: #b3b3b3;
    width: 34px;
    height: 31px;
    transform: translateX(13px) translateY(-23px) translateZ(30px) rotateY(90deg) rotateX(36deg);
}

.pod-sec-s-bs {
    position: absolute;
    background: #b3b3b3;
    width: 34px;
    height: 31px;
    transform: translateX(13px) translateY(26px) translateZ(30px) rotateY(90deg) rotateX(-36deg);
}

.pod-sec-fp {
    position: absolute;
    background: #b7b7b7;
    width: 46px;
    height: 35px;
    transform: translateZ(-13px) translateX(-34px);
}

.pod-sec-fp::before {
    position: absolute;
    content: '';
    width: 0px;
    border-left: 7px solid #b7b7b7;
    border-top: 8.5px solid transparent;
    border-bottom: 8.5px solid transparent;
    height: 15.5px;
    transform: translateX(46px);
}

#atrium {
    position: absolute;
    transform-style: preserve-3d;
}

#at-f {
    position: absolute;
    height: 0px;
    width: 26.2px;
    border-left: 19.3px solid transparent;
    border-right: 19.3px solid transparent;
    border-bottom: 171px solid #c2c2c2;
    transform: translateX(50px) translateY(-9px) translateZ(-50px);
}

#at-t {
    position: absolute;
    background: #b0b0b0;
    width: 26.2px;
    height: 50px;
    transform: translateX(68px) rotateX(90deg) translateZ(34px) translateY(-25px);
}

#at-r {
    position: absolute;
    background: #b7b7b7;
    width: 50px;
    height: 172.09px;
    transform: rotateY(90deg) translateY(-9px) translateZ(36px) translateX(25px) rotateX(-6.44deg);
}

#at-l {
    position: absolute;
    background: #b7b7b7;
    width: 50px;
    height: 172.09px;
    transform: rotateY(90deg) translateY(-9px) translateZ(78px) translateX(25px) rotateX(6.44deg);
}

#at-b {
    position: absolute;
    height: 0px;
    width: 26.2px;
    border-left: 19.3px solid transparent;
    border-right: 19.3px solid transparent;
    border-bottom: 171px solid #b3b3b3;
    transform: translateX(50px) translateY(-9px);
}

.rcs-shield {
    position: absolute;
    width: 19.988px;
    height: 0px;
    border-bottom: 104px solid #999;
    border-left: 14.987px solid transparent;
    border-right: 14.987px solid transparent;
    transform: translateY(-74px) translateZ(24px) translateX(39px) rotateX(12deg);
}

#dock-port {
    position: absolute;
    left: 17px;
    top: 27px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 3px ridge #d0d0d0;
    background: #bbb;
    background: -webkit-radial-gradient(#666, #bbb);
    background: -o-radial-gradient(#666, #bbb);
    background: -moz-radial-gradient(#666, #bbb);
    background: radial-gradient(#666, #bbb);
}

#door {
    position: absolute;
    left: -13px;
    top: 117px;
    width: 46px;
    height: 41px;
    border-radius: 5px;
    border: 3px ridge #d0d0d0;
    background: #bbb;
}

.f-window {
    position: absolute;
    top: 34px;
    z-index: -20;
    height: 0px;
    width: 0px;
    border-top: 33px solid #333;
    border-left: 16.5px solid transparent;
    border-right: 16.5px solid transparent;
}

#wind1 {
    left: 26px;
    transform: rotateZ(-16deg);
}

#wind2 {
    left: 108px;
    transform: rotateZ(16deg);
}

.rcs-pod{
    position:absolute;
    transform-style:preserve-3d;
}
#rcs1{
    transform:translateZ(42px) translateX(-75px) translateY(85px);
}
#rcs2{
    transform:translateZ(60px) translateX(-55px) translateY(85px);
}
#rcs3{
    transform:rotateY(180deg) translateZ(50px) translateX(-202px) translateY(85px);
}
#rcs4{
    transform:rotateY(180deg) translateZ(61px) translateX(-219px) translateY(85px);
}
.rcs-pod-wall{
    position: absolute;
    width:20px;
    height:20px;
}
.rcs-pod-f{
    background:#999;
    transform:translateZ(10px);
}
.rcs-pod-a{
    background:#999;
    transform:rotateX(180deg) translateZ(10px);
}
.rcs-pod-l{
    background:#aaa;
    transform:rotateY(-90deg) translateZ(10px);
}
.rcs-pod-r{
    background:#aaa;
    transform:rotateY(90deg) translateZ(10px);
}
.rcs-pod-t{
    background:#888;
    transform:rotateX(-90deg) translateZ(10px);
}
.rcs-pod-b{
    background:#888;
    transform:rotateX(90deg) translateZ(10px);
}

.sm-flm {
    position: absolute;
    width: 5px;
    height: 20px;
    transform: translateY(20px) translateX(1px);
    border-radius: 50%;
    box-shadow: 0 0 7px 4px #fed;
    background: #fed;
    transform-style: preserve-3d;
}

.sm-flm2 {
    position: absolute;
    width: 5px;
    height: 20px;
    transform: translateY(0px) translateX(0px) rotateY(90deg);
    border-radius: 50%;
    box-shadow: 0 0 7px 4px #fed;
    background: #fed;
}