<!Doctype html>
<html>

<head>
    <title>Dave's Lunar Lander Game</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body ng-app='lunApp' ng-controller='MainController' id='main-body'>
    <div id='cont' style='transform: translateZ({{thirdPerson?tran.z:-300}}px) translateX({{thirdPerson?tran.x:0}}px)rotateX({{rot.x}}deg) rotateY({{rot.y}}deg) rotateZ({{rot.z}}deg);'>
        <div id='lem'>
            <div id='ascent-stage'>
            </div>
            <div id='descent-stage'>
            </div>
        </div>
    </div>
    <div id='mun' style='transform:translateY({{5000-tran.y}}px) translateZ(2030px) translateX(-1500px) rotateX(90deg);background-position: {{thirdPerson?0:tran.x}}px {{thirdPerson?0:tran.z+300}}px'>
        <div id='lemShad' style='transform:translateX({{thirdPerson?tran.x+1970:1970}}px) translateY({{thirdPerson?tran.z+2680:2680}}px);width:{{shadSz}}px;height:{{shadSz}}px'></div>
    </div>
    <div class='panel panel-info col-md-3 pull-right'>
        <div class='panel-heading'>
            <h3>Controls</h3></div>
        <div class='panel-body'>
            <p>
                <h4>Options:</h4>
                <span class='opt-icon' title='Camera position mode'>Cam &#127909;</span>: <span ng-if='thirdPerson'>Third</span><span ng-if='thirdPerson==false'>First</span>-Person
                <br><br>
                <span class='opt-icon' title='Gravity and vertical movement'>Grav &#11015;</span>: <span ng-if='activeGame' class='alert alert-success'>On</span><span ng-if='activeGame==false' class='alert alert-danger'>Off</span>
            </p>
            <hr>
            <p>
                <h4>Position data</h4>
                <b>Distance to Lunar Surface:</b> {{round(activeGame?(9431-tran.y):0)}}
                <br><br>
                <b>Vertical Velocity:</b> {{round(activeGame?tranV.y:0)}};

            </p>
        </div>
    </div>
    <script src='/socket.io-client/socket.io.js'></script>
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/angular/angular.js'></script>
    <script src='/bootbox.js/bootbox.js'></script>
    <script src='/js/all.js'></script>
</body>

</html>
